.header3{
    display: flex;
    justify-content: space-evenly;
    color: rgb(6, 6, 6);
    align-items: center;

}
.header3 h3:hover{
   color: rgb(255, 82, 0);
   text-decoration:underline;
   text-decoration-thickness: 3px;
   
}